.game {
    padding-top: 80px;

    .info {
        display: flex;
    }

    .best {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-field {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
}