<div class="game">
    <div class="info">
        <div>Current tries: <span>{{tries}}</span></div>
        <div class="best">
            <div>Best:</div>
            <span class="best-score">{{best}}</span>
        </div>
        <button class="transparent-button" (click)="startNewGame()">RESTART</button>
    </div>
    <div class="game-field">
        <app-card *ngFor="let card of cards; index as i" 
        [imgUrl]="card.imgUrl" [flipped]="card.flipped" [disabled]="card.disabled"
        (click)="cardClicked(i)"></app-card>
    </div>
</div>