<header>
    <div class="logo">
        <img src="assets/splendex-logo.svg" [routerLink]="['']">
    </div>
    <form [formGroup]="gameForm">
        <div>Deck size:</div>
        <select formControlName="numberOfCards">
            <option *ngFor="let number of numberOfCardsOptions" [value]="number.value">{{number.value}}<option>
        </select>
        <button (click)="startNewGame()">START NEW GAME</button>
    </form>
    <div class="extend"></div>
</header>

<router-outlet></router-outlet>